from statirator.site import Site
import os

SITE_OPTS = {
    'root': os.path.abspath(os.path.dirname(__file__)),
    'name': '{{name}}',
    'source': '{{source}}',
    'build': '{{ build }}',
    'templates': '{{ templates }}',
}

site = Site(**SITE_OPTS)
