include *.txt *.rst
recursive-include docs *.txt *.rst
recursive-include statirator/templates *
recursive-include statirator/project_template *
recursive-include statirator/core/templates *
recursive-include statirator/blog/templates *
recursive-include statirator/blog/locale *
