{% load i18n disqus_tags %}
<article class="post-excerpt">
  <header>
    <h1>{{ post.title }}</h1>
  </header>
{% with post_url=post.get_absolute_url %}
{% if post.image %}
  <div class="post-image"><a href="{{ post_url  }}"><img src="{{ STATIC_URL }}{{ post.image }}" alt="{{ post.title }}"></a></div>
{% endif %}
{{ post.excerpt }}
  <footer>
  <a href="{{ post_url }}">{% trans "Read more" %}</a>
  <a href="{{ post_url }}#disqus_thread" data-disqus-identifier="{{ post.slug }}_{{ post.lang }}">{% trans "Read more" %}</a>{% disqus_num_replies %}
  </footer>
{% endwith %}
</article>
