{% load i18n disqus_tags %}
{% with post_url=post.get_absolute_url %}
<article class="post-excerpt">
  <header>
      <h3><a href="{{ post_url }}">{{ post.title }}</a></h3>
  </header>
{% if post.image %}
  <div class="post-image"><a href="{{ post_url  }}"><img src="{{ STATIC_URL }}{{ post.image }}" alt="{{ post.title }}"></a></div>
{% endif %}
{% if post.excerpt %}
{{ post.excerpt }}
{% endif %}
  <footer>
  <a href="{{ post_url }}">{% trans "Read more" %}</a>{{ LANGUAGE_MARKER }}
  <a href="{{ post_url }}#disqus_thread" data-disqus-identifier="{{ post.slug }}_{{ post.language }}">{% trans "Comments" %}</a>{% disqus_num_replies %}
  </footer>
{% endwith %}
</article>
