{% extends "base.html" %}{% load i18n disqus_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block description %}{{ object.excerpt }}{% endblock %}

{% block body_class %}blog{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ object.title }}</h1>
  </header>
{% if object.image %}  <div class="post-image"><img src="{{ STATIC_URL }}{{ object.image }}" alt="{{ object.title  }}" /></div>{% endif %}
{{ object.content|safe }}
  <footer>
    {% trans "Tags" %}:
    <ul>
{% for tag in object.tags.all %}
        <li><a href="{{tag.get_absolute_url}}">{{ tag.name }}</a></li>
{% endfor %}
    </ul>
    <nav class="post-prev-next">
    <ul>
    {% with prev=object.get_previous next=object.get_next %}
    {% if prev %}<li><a class="post-prev" href="{{prev.get_absolute_url}}">{{ prev.title }}</a></li>{% endif %}
    {% if next %}<li><a class="post-next" href="{{next.get_absolute_url}}">{{ next.title }}</a></li>{% endif %}
    {% endwith %}
    </ul>
    {% with object.get_translations as translations %}
    {% if translations %}
    {% trans "Translations" %}
    <ul>
{% for tr in translations %}
      <li><a href="{{ tr.get_absolute_url }}">{{ tr.title  }}</a></li>
{% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    </nav>
  </footer>
</article>
{% endblock %}

{% block extra_footer %}
{% set_disqus_identifier object.slug "_" object.language %}
{% disqus_show_comments %}
{% endblock %}
