{% extends "base.html" %}{% load i18n %}

{% block title %}{{ object.name }} :: {% trans "Tag" %}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object.name as tag_name %}Posts tagged with {{ tag_name }}{% endblocktrans %}" href="{{ object.get_feed_url }}"></link>  
{% endblock %}

{% block body_class %}tags{% endblock %}

{% block content %}
<article>
  <header>
  <h1>{% blocktrans with object.name as tag_name %}Posts tagged with {{ tag_name }}{% endblocktrans %}</h1>
  </header>
    <ul>
{% for post in posts %}
        <li><a href="{{post.get_absolute_url}}">{{ post.title }}</a></li>
{% endfor %}
    </ul>
</article>
{% endblock %}
