{% extends "base.html" %}{% load i18n %}

{% block title %}{{ object.name }} :: {% trans "Tag" %}{% endblock %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="{% blocktrans with object.name as tag_name %}Posts tagged with {{ tag_name }}{% endblocktrans %}" href="{{ object.get_feed_url }}"></link>  
{% endblock %}

{% block body_class %}tags{% endblock %}

{% block content %}
<article>
  <header>
  <h1>{% blocktrans with object.name as tag_name %}Posts tagged with {{ tag_name }}{% endblocktrans %}</h1>
  </header>
  {% regroup posts by pubdate|date:"Y" as year_posts %}
    <ul>
{% for year in year_posts %}
  <li><h2>{{ year.grouper  }}</h2></li>
  <ul>
  {% for post in year.list %}
    <li>{{ post.pubdate|date:"b d" }}, {{LANGUAGE_MARKER}}<a href="{{ post.get_absolute_url  }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
    </ul>
</article>
{% endblock %}
