{% extends "base.html" %}{% load i18n st_core blog %}

{% block title %}{% trans "Tags" %}{% endblock %}

{% block body_class %}tags{% endblock %}

{% block content %}
<section>
  <header>
    <h1>{% trans "Tags" %}</h1>
  </header>
  {% get_current_language as LANGUAGE_CODE %}{% get_tagcloud LANGUAGE_CODE as tags %}
  <ul class="tags-cloud">
  {% for tag in tags %}
    <li><a class="tag-{{tag.weight|floatformat:0}}" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>    
  {% endfor %}
  </ul>
</section>
{% endblock %}
