<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" dir="{{ LANGUAGE_DIR }}">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% end %} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <script src="js/modernizr.js"></script>
    {% block extra_head %}{% end %}
</head>
<body class="no-js">
    <header><h1>{{ site.name }}</h1></header>
    <section>{% block content %}{% end %}</section>
    <footer>footer goes here</footer>
</body>
</html>

